net.quedex.client.api.marketStreamUrl = wss://url/market_stream
net.quedex.client.api.marketDataUrl = https://url/market_data
net.quedex.client.api.userStreamUrl = wss://url/user_stream

net.quedex.client.api.accountId = 123456789
net.quedex.client.api.nonceGroup = 5

net.quedex.client.api.qdxPublicKey = -----BEGIN PGP PUBLIC KEY BLOCK-----\n\
                                     Version: GnuPG v1\n\
                                     \n\
                                     mQENBFVCsVABCACweQ8WHklVrS5tlL0EPiRrUGkjz1y5zSR6tf5Jjp1kKl8d5dKt\n\
                                     Yp61Qq0d7B2Frsih/nqkMqDt1us3T7jXZ/SHgkLrhiWrUGaD4HUK0Ki+/qDYM5k5\n\
                                     kfyLfM+Kk6+XlxWl9VecJseeuOj7pEbepLJ39vg2Cn3gjG9o/H7y7u24VCOCiu2G\n\
                                     d13HXwcLOUifjHAtXwngPNAGCxfqO+I93cG73A2Qx6/cYpxkgXh9GauBja0Iszpv\n\
                                     xnEaHwJfxNWjgujIeZMf9iFKkMSMwtCEYitVMMJtLS7UDy9BHf4TWLMaKqQ+7Iy/\n\
                                     wPuO1mGl2/GEhWT0fHABBUNzvojtstasTJGtABEBAAG0JlF1ZWRleCBUZXN0IEtl\n\
                                     eSAxIDxjb250YWN0QHF1ZWRleC5uZXQ+iQE3BBMBCAAhBQJVQrFQAhsDBQsJCAcC\n\
                                     BhUICQoLAgQWAgMBAh4BAheAAAoJEO69Fx5tJ0UYHx8H/0MZhtUWRCuBr9os7Lfj\n\
                                     NYEQ27ghL4CXIGu6oFjyLIbVFqj/EYfPfWgWIwNXPJL9zQf1wFRZyQl2qWzpez9u\n\
                                     rr5AKSw5QlbAFXxA+l8u0W+IpLOaBJjfT2Yh9vSxlgsjDuSseK69u4RZIru3ZaTh\n\
                                     myJFhu/4pxZ1AnpU3xa0WDZ/4Dgnfz2V9Bikf39bf4y8nZafD5p/fj2w60S+rW1U\n\
                                     wK9BuMtmeyw0vFlapJk1gzEICq+ZzQLgG6iqL30APDJV05AgUFtOjzH7uBTday9r\n\
                                     Nqt8tIhBXA/R6XPv2jLGPs9UE0HhyP+gICo1gXGp+X/Lew8tr44A/+RuubEdSBFp\n\
                                     ajy5AQ0EVUKxUAEIAMpnXJctj9HotSo2YoncAQhSktVENdkIqhAqHZ9VxWjEQXil\n\
                                     crAiBv4EKrLPiPCz1bg7iaz2Mte9M43df5c8texV+2rdM7VbJo0Rz54CxIoT2opw\n\
                                     wxcam1yK/rou2YQIyl7nc3MEgf96AngBwkmK2YNtkCJvXxQ6cAWvJ82GwE2NHQ5g\n\
                                     iutUlIlF5wd8qY7Fa0GLBR96qNE1KoJN1wvY362+HkbjJWce09EFw/veikBdIMep\n\
                                     UZWn1s6D1A9hBEC4TL+p6l+c/+G0QsWDJuB7LDZW9MEtjmfg9svaxbeaH2RNygqg\n\
                                     CyMaRaCMpwZIPWboEPYVe23q+IMuGBLz34LfhHkAEQEAAYkBHwQYAQgACQUCVUKx\n\
                                     UAIbDAAKCRDuvRcebSdFGDyMCACoDCVDit8dS1zEajf7bUMzNmGVpQnv63YGuGsi\n\
                                     9Y4+PWcPxRC8WYzfqqDyS5glxVNswqwf1RgD2E7/TYq2HnxFUvPTcwTtPUFCEr/r\n\
                                     gCMjYp7BL2z8bVAzO/Ie3lir7xSYfg7UHd6gQipjDlBOAzGiYGQ6j+QbFsEz8H2C\n\
                                     bb2y4uNtEVlElbJLwXt9Ui15w/4j62MADO8cRPiijF4X2p4GwpN8SgRnguz3cOaj\n\
                                     xUURDVn8kiv0PBd/8Y5OvSUdMPDYTlOlYthm5VUz/8hcxf2YItzsnHcBfIs0aog7\n\
                                     VPUQE6TH6Lni2qEjeCD8WGOofbyJ+NpAsRQpD43uUm/nNNFj\n\
                                     =syaj\n\
                                     -----END PGP PUBLIC KEY BLOCK-----
net.quedex.client.api.userPrivateKey = <armored prv key>